<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Laboratorio 3 Progra IV CMS">
    <meta name="author" content="Grupo 5">

    <title>CMS GRUPO 5</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/shop-homepage.css" rel="stylesheet">
    <link href="assets/css/jqueryFileTree.css" rel="stylesheet">
    <link href="assets/css/summernote.css" rel="stylesheet">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>

<body background = "assets/img/clash.jpg">

    <!-- Navigation -->
    <nav class="navbar navbar-light" style="background-color: #81F781;" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Programaci&oacute;n IV CMS</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Bienvenido --nombre--<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Perfil</a>
                            </li>
                            <li>
                                <a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Configuraci&oacute;n</a>
                            </li>
                            <li>
                                <a href="ini.php?op=salir"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Salir</a>
                            </li>                            
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-3">            
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                        Estructura del sitio
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPage">
                          <span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;
                          Nueva P&aacute;gina
                        </button>
                    </h3>
                  </div>
                  <div class="panel-body" id="estructura-sitio">

                  </div>
                 </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Vista previa / Edici&oacute;n de p&aacute;gina
                                <button type="button" class="btn btn-success" onClick="guardar_pagina();">
                                  <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;
                                  Publicar P&aacute;gina
                                </button>
                            </h3>
                        </div>
                        <div class="panel-body" id="vistaprevia">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Progra IV | 02-2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- Modal -->
  <div class="modal fade" id="modalPage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Crear nueva p&aacute;gina</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" id="formNuevaPagina">
        <div class="form-group">
          <label for="nbpagina" class="col-sm-2 control-label">P&aacute;gina</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="nbpagina" name="nbpagina" placeholder="Digite el nombre de la pagina (Ej. index)">
          </div>
        </div>
        <div class="form-group">
          <label for="plantilla" class="col-sm-2 control-label">Plantilla</label>
          <div class="col-sm-10">
            <select class="form-control" id="plantilla" name="plantilla">
            <option value="mobile.html">mobile.html</option>
                    <option value="plantilla5.html">plantilla5.html</option>
					<option value="plantilla3.html">plantilla3.html</option>
					<option value="musica.html">musica.html</option>
					<option value="plantilla1.html">plantilla1.html</option>
					<option value="plantilla2.html">plantilla2.html</option>
            <option value="plantilla4.html">plantilla4.html</option>
         </select>
          </div>
        </div>
        
      </form>
      <div id="respuesta" class="alert alert-success"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onClick="crear_pagina();">Crear</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          
        </div>
      </div>
    </div>
  </div>
    
    <div class="modal fade bs-example-modal-sm" id="mensaje" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <p id="rpage" class="alert alert-info"></p>
        <button type="button" class="btn btn-info btn-xs" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>    
    
    <!-- jQuery -->
    <script src="assets/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

    <!-- Custom Scripts -->
    <script type="text/javascript" src="assets/js/jqueryFileTree.js"></script>
    <script type="text/javascript" src="assets/js/summernote.min.js"></script>
    <script type="text/javascript">

    $(document).ready(function() {views();});

    function views()
    {
        $('#estructura-sitio').fileTree({
        root: '../',
        script: 'jqueryFileTree.php',
        expandSpeed: 1000,
        collapseSpeed: 1000,
        multiFolder: false
        }, function(file) {
        console.log(file);
        }); 
    }

    function crear_pagina()
    {
        $.ajax({    
        url : 'lib.php?acc=crearPagina', 
        data : $('#formNuevaPagina').serialize(),   
        type : 'post',
        success : function(data) 
          {
                if(data==1)
                {
                  $('#respuesta').html('P&aacute;gina creada correctamente!');

                  setTimeout(function(){location.href='ini.php';$('#modalPage').modal('hide');},1500);
                }                
                else
                {
                  $('#respuesta').html('Error al crear la p&aacute;gina'+data); 
                }
          }
        }); 
    }

    function edit(archivo)
    {
        $.ajax({    
        url : 'lib.php?acc=editarPagina', 
        data: {pagina:archivo},
        success : function(data) {
            $('#vistaprevia').html(data);
        }
        }).done(function(){
            $('#edit-contenido').summernote();   
        }); 
    }

    function guardar_pagina()
    {
        $.ajax({    
        url : 'lib.php?acc=guardarPagina',
        type: 'post', 
        data: {codigo:$('#edit-contenido').code()},
        success : function(data) {
            $('#mensaje').modal('show');
            $('#rpage').html(data);
        }
        });
    }
    </script>    
</body>

</html>
